#jinja2: lstrip_blocks: "True"
[Unit]
Description=HealthChat Workspace
{% for service in healthchat_workspace_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ devture_systemd_docker_base_systemd_unit_home_path }}"

ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} compose -f {{ healthchat_workspace_compose_path }}/docker-compose.yml down --remove-orphans 2>/dev/null || true'

ExecStart={{ devture_systemd_docker_base_host_command_docker }} compose \
			-f {{ healthchat_workspace_compose_path }}/docker-compose.yml \
			--env-file {{ healthchat_workspace_base_path }}/env \
			up --force-recreate --remove-orphans

ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} compose -f {{ healthchat_workspace_compose_path }}/docker-compose.yml down --remove-orphans 2>/dev/null || true'

Restart=always
RestartSec=30
SyslogIdentifier=healthchat-workspace

[Install]
WantedBy=multi-user.target